* {
    font-family: "Courier New", Courier, monospace;
}

#parrafo1 {
    background-color: grey;
}

h1 {
    font-size: 24px;
}

h1.especial {
    color: blue;
}

h2, h3 {
    border: 1px solid orange;
}

ul > li {
    color: red;
}

ul ul > li {
    color: green; 
}

p > img {
    border: 5px solid black; 
    width: 100px;
    height: 25px;
}

img[alt="segunda"] {
    border: 5px solid red; 
    width: 100px;
    height: 25px;
}

h3.antes {
    background-color: pink;
}

h3.despues {
    background-color: blue;
}
